@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/reset" as *;

.grid {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.noDecoration {
  text-decoration: none;
}
