@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/reset" as *;
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  i {
    font-size: 2rem;
    color: $primary-color;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #cc0000;
    }
  }
}
